<!DOCTYPE html>
<html>
  <head>
    <title>Mapapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAZcz5uQkBpHMMv33LE_4hzSwj87tfWSYw"></script>
  </body>
</html>
